/* Imports */

@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lora');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Open+Sans');
@import "partials/_variables.scss";

/* Apply the Font Styles */

body {
    font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerFont;
}

@import "partials/_mainPageLayout.scss";

/* Set the map to centered */

.map {
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=45.348307,-75.755990&zoom=13&size=600x300&maptype=roadmap&markers=color:green%7Clabel:%7C45.348307, -75.755990&key=AIzaSyCB42vFOCiKZEwqzi7js2uVSMYOR3UamRU");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

#contactForm {
    margin-top: 10px;
}

.contactUsHeader {
    text-align: center;
}
