/* Imports */

@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lora');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lato|Open+Sans');
@import "partials/_variables.scss";
@import "partials/_mainPageLayout.scss";

/* Index.html */
.missionStatementJumbotron {
    background: $moduleBackground;
    color: $moduleFontColor;
}

.module {
    background: $moduleBackground;
    color: $moduleFontColor;
    padding-top: 15px;
    text-align: center;
}

/* Help.html */
#stepsToHelp li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}

.list-group-item-custom {
    background: $listGroupCustomBackground;
    color: $listGroupFontColor;
    border: 1px solid black;
}

/* Contact.html */

.map {
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?center=45.348307,-75.755990&zoom=13&size=600x300&maptype=roadmap&markers=color:green%7Clabel:%7C45.348307, -75.755990&key=AIzaSyCB42vFOCiKZEwqzi7js2uVSMYOR3UamRU");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

.contactPanel {
    margin-top: 20px;
    border: 0px solid transparent;
}

.contactPanel > .panel-heading {
    background: $panelHeadingBackground;
    color: $panelHeadingFontColor;
    border-bottom: 1px solid black;
    text-align: center;    
}

.contactPanel > .panel-body {
    background: $moduleBackground;
}