/* Apply Background Colors */

body {
    background: $bodyBackground;
    color: $fontColor;
}

.navbar,
.footer {
    background: $headerFooterBackground;
    border-color: transparent;
    color: $headerFooterFontColor;
}

#navbar>ul>li {
    &.active>a {
        background: darkslategray;
        color: $fontColor;
        opacity: 0.85;
    }
    &>a {
        color: $headerFooterFontColor;
    }
}

.navbar-inverse .container .navbar-brand {
    color: $headerFooterFontColor;
}

body > footer > div > div > div.col-xs-12.col-md-4.social > a {
    color: $headerFooterFontColor;
}


/* Apply the Font Family */

body {
    font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerFont;
}


/* Set the footer to stick to the bottom of the page */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body>.container {
    padding-top: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
}


/* Center the Footer Content */

.footer .container {
    text-align: center;
    margin-top: 15px;
    font-size: 3.0rem;
}

.copyrightText {
    font-size: 2.0rem;
}


/* ECT Helpers */

.top-buffer {
    margin-top: 25px;
}