$color1: #359168;
$color2: #2D7A42;
$color3: #3E913C;
$bodyBackground: #497A2D;
$headerFooterBackground: #779135;

$fontColor: black;

$headerFont: 'Droid Serif', 'Lora', Georgia, serif;
$bodyFont: 'Droid Sans', 'Lato', 'Open Sans', Arial, sans-serif;