$colorOne: #359168;
$colorTwo: #2D7A42;
$colorThree: #3E913C;
$colorFour: #497A2D;
$colorFive: #779135;

$headerFont: 'Droid Serif', 'Lora', Georgia, serif;
$bodyFont: 'Droid Sans', 'Lato', 'Open Sans', Arial, sans-serif;